.main{
    background-color: #2C3748;

}
.main p{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #818EA3;
}
.left{
    display: flex;
 }

.right{
    display: flex;
    justify-content: flex-end;
}