.container {
     display: flex;
     background-color: #2C3748;
     flex-direction: column;
 }
.nav{
    grid-area: n;
}

.nav a{
    display: block;
    padding: 10px;
    color: #818EA3;;
    text-decoration: none;
}

.nav a:hover {
    background-color: #242D3B;
}
.nav a.activeLink{
    padding-left: 10px;
    color: cornsilk;
}
.containerFriends h3{
    padding-left: 10px;
}
.friends{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}